<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/admin/_fragments-admin :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>标签新增</title>
</head>
<body>

<!--导航-->
<nav th:replace="/admin/_fragments-admin :: nav(4)" ></nav>

  <!--中间内容-->
  <div id="main" class="m-margin-top-big m-padded-tb-large">

    <div class="ui container">

      <form action="#" method="post" th:action="*{id}==null ? @{/admin/tags} : @{/admin/tags/{id}(id=*{id})} " class="ui form">

        <input type="hidden" name="id" th:value="${tag.getId()}">
        <div class=" field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">名称</label>
            <input type="text" name="name" placeholder="标签名称" th:value="${tag.getName()}">
          </div>
        </div>

        <div class="ui negative message" th:unless="${#strings.isEmpty(errorMessage)}">
          <i class="close icon"></i>
          <div class="" th:text="${errorMessage}"></div>
        </div>

        <div class="ui right aligned container">
          <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
          <button class="ui teal submit button">提交</button>
        </div>

      </form>

    </div>

  </div>


  <!--底部footer-->
  <footer th:replace="/admin/_fragments-admin :: footer"></footer>

  <!--引入js-->
  <th:block th:replace="/admin/_fragments-admin :: script"></th:block>
</body>

<script>
  //消息提示关闭初始化
  $('.message .close')
      .on('click', function () {
          $(this)
            .closest('.message')
            .transition('fade');
    });
</script>
</html>