<!DOCTYPE html>
<html lang="en">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>时间轴</title>
</head>

<body>

    <!--导航-->
    <nav th:replace="_fragments :: nav(4)" ></nav>

    <div class="m-bg-type_outer" style="width: 100%; height: 40%">
        <img src="../static/img/img3.jpg" alt="" class="ui m-bg image" th:src="@{/img/img3.jpg}">
            <div class="ui container" style="position: relative ;top: -540px;">
                <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai',serif;" >时间线</div>
                <div class="m-font-size-text-init-title m-margin-top" align="center">回忆犹如流水，在岁月的长河中悠悠流淌</div>
            </div>
    </div>

    <!--中间元素-->
    <div id="main" class="m-margin-top-large">
        <div class="ui container">
            <div class="ui segment center aligned m-opacity">
                共 <h2 class="ui orange header m-text-thin m-inline-block" th:text="${blogTotal}">200</h2> 篇博客
            </div>

            <div class="ui big fluid vertical menu m-opacity" th:each="entry : ${blogs}">
                <h2 class="ui header m-margin-tb-tiny">
                    <div th:text="${entry.key}" align="center">2023</div>
                    <div style="text-align: right">
                        共 <span style="color: orange" th:text="${entry.value.size()}"></span> 篇
                    </div>
                </h2>

                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item m-padded" th:each="blog : ${entry.value}">
                    <span>
                        <i class="mini teal circle icon"></i>&nbsp;&nbsp; <span th:text="${blog.title}">这是一篇博客</span>
                    </span>
                    <div class="ui mini blue basic button" style="margin-left: 10px" th:unless="${blog.top} == false">置顶</div>
                    <div class="ui teal basic left pointing label m-padded-tb-tiny">
                        <span th:text="${blog.month}">5</span>
                        月
                        <span th:text="${blog.day}">27</span>
                    </div>
                </a>
            </div>

        </div>
    </div>


    <!--置顶图标-->
    <div th:replace="_fragments :: toolbar(1)"></div>

    <!--底部footer-->
    <footer th:replace="_fragments :: footer"></footer>

    <!--引入js-->
    <th:block th:replace="_fragments :: script"></th:block>
</body>
<script>

$('#menu-toggle').click(function (){
    $(".m-item").toggleClass("m-mobile-hide") // 有这个"m-mobile-hide"类就加上这个类否则就删去这个类
});

</script>

</html>