<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../../static/lib/Semantic-UI-2.5.0/dist/semantic.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/me.css" type="text/css">

</head>
<body style="display:flex;align-items:center;justify-content:center;">

    <div class="m-container-small m-padded-tb-massive " style="max-width: 30em !important;">
      <div class="ui container">

        <div class="ui middle aligned center aligned grid">
          <div class="column">
            <h2 class="ui black image header">
                后台登录
            </h2>
            <form class="ui large form" method="post" action="#">
              <div class="ui segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="user" placeholder="用户名">
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="密码">
                  </div>
                </div>
                <div class="ui fluid large teal submit button">登   录</div>
              </div>

              <div class="ui error message"></div>

            </form>

          </div>
        </div>

      </div>
    </div>

    <script src="../../static/lib/jquery-3.0.0/jquery-3.0.0.min.js"></script>
    <script src="../../static/lib/Semantic-UI-2.5.0/dist/semantic.min.js"></script>
</body>
</html>